section.cards {
  margin-top: 0;
}

.card-color,
.card-white {
  padding: 20px 50px;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 3px solid var(--color1);
  border-radius: 10px;
}

.card-color ion-icon,
.card-white ion-icon {
  font-size: 4rem;
  padding-bottom: 20px;
}
.card-color {
  background-color: var(--color1);
}

.card-color * {
  color: #fff;
}

.card-white ion-icon {
  color: var(--color1);
}

/****************** SLIDER ***********************/

section.testimonials {
  background-color: var(--color3);
}

.carousel-item img {
  width: 100px;
  border: none;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@media (max-width: 991px) {
  .testimonials .slider {
    height: 400px;
  }
}

/**************** Numbers *****************/

section.data .col {
  display: flex;
  justify-content: center;
}

section.data .circle-card {
  border: 2px solid var(--color1);
  height: 200px;
  width: 200px;
  border-radius: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section.data .circle-card span {
  display: block;
}

section.data .circle-card span.numbers {
  color: var(--color1);
  font-weight: 600;
  font-size: 3rem;
  padding-bottom: 10px;
}

section.data .circle-card span.words {
  font-size: 1.5rem;
  width: 150px;
  text-align: center;
}

/**************** Information ***************/

section.information {
  background-color: var(--color1);
}

section.information .bg-image {
  background-image: url("../../img/inicio-chico-estudiando-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section.information .text-information {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

/********************* Cursos **************/

section.courses {
  margin-top: 100px;
}

.courses .course {
  background-color: var(--color1);
  text-align: center;
  padding: 20px 20px 30px 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.courses .course p {
  font-weight: 400;
  padding-bottom: 30px;
}

.courses .course img {
  width: 100%;
  padding-bottom: 20px;
}

.courses .course .cursoProximamente {
  font-weight: 600;
  position: relative;
  top: -15px;
  font-style: italic;
}

@media (min-width: 1200px) {
  .courses .course {
    height: 650px;
    position: relative;
  }

  .courses .course a {
    position: absolute;
    bottom: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .courses .course {
    height: 690px;
    position: relative;
  }

  .courses .course a {
    position: absolute;
    bottom: 20px;
  }
}

@media (max-width: 767px) {
  .courses .course {
    width: 70%;
    margin: 0 auto;
  }

  .courses .course img {
    width: 60%;
  }
}

/************** Newsletter ******************/

section.newsletter {
  background-color: var(--color3);
  height: 500px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

section.newsletter input[type="text"], section.newsletter input[type="email"] {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid var(--color1);
}

section.newsletter input[type="text"]{
  width: 25%;
}

section.newsletter input[type="email"] {
  width: 45%;
}

section.newsletter input[type="submit"] {
  background-color: var(--color1);
  border-color: #0d6efd;
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  border: 1px solid var(--color1);
  padding: 16px 30px;
  border-radius: 5px;
  transition-duration: 0.75s;
  color: #fff;
  font-size: 1.1rem;
  margin-left: -2px;
  margin-top: -2px;
}

section.newsletter input[type="submit"]:hover {
  background-color: transparent;
  color: var(--color1);
}
