/* Tabla listar alumnos */

table {
	width: 600px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
    margin: 0 auto;
}

th, td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: black;
}

th {
	text-align: left;
    background-color: var(--color2);
    color: white;
}

tr:nth-child(2n+3) {
    background-color: #ccc;
}

td a, td a:visited, td a:focus {
    color: black;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid black;
}

td a:hover {
    color: var(--color1);
    border-bottom: 1px solid var(--color1);
}




/* Tabla perfil alumno */
div.perfilAlumno {
    text-align: center;
}

div.perfilAlumno h2 {
    padding-bottom: 20px;
}

table.datosAlumno {    
    width: 500px;
}

table.datosAlumno tr:nth-child(2n+1) {
    background-color: white;
}

table.datosAlumno tr:nth-child(2n+2) {
    background-color: #ccc;
}

table.datosAlumno tr td:first-child {
    background-color: var(--color1); 
    width: 150px;
    color: white;
}


/* Tamaño imágenes del listado */
img.imagenLista {
    width:30px;
    height: 30px;
    object-fit: cover;
}

.volverAtras {
    text-align: center;
    margin-top: 30px;
}

.volverAtras .bVolver {
    width: 100px;
    background-color: var(--color1);
    border-radius: 15px;
    padding: 8px 20px;
    color: white;
    text-decoration: none;
    margin-top: 20px;
}

.volverAtras .bVolver:hover {
    background-color: var(--color2);
}


