nav {
  background-color: #fff;
  height: 80px;
}

nav img {
  width: 90px;
}

nav .collapse {
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  padding-left: 40px;
}

nav ul li .fPerfil {
  width: 40px;
  border-radius: 30px;
  position: relative;
  top: -5px;
}

/*  Responsive */
nav .navbar-toggler {
  border: none;
}


/* Menu */
nav.menu ul li.dropdown{
  padding-left: 20px;
}

nav.menu ul li.dropdown ul.dropdown-menu {
  padding: 0;
}

nav.menu ul li.dropdown ul.dropdown-menu li {
  padding-left: 0;
}

nav.menu ul li.dropdown ul.dropdown-menu li a{
  padding: 10px 20px;
}

/* Menu Login */

nav ul.dropdown-menu li {
  padding-left: 20px;
}