nav {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

nav img {
  width: 90px;
}

@media (max-width: 991px) {
  nav .container {
    min-width: 100vw !important;
    max-width: 100vw !important;
  }

  nav.fixed-top {
    background-color: #fff;    
  }

  nav ul li{
    text-align: center;
    padding: 10px 0;
  }

  nav ul li a.dropdown-toggle{
    height:30px;
  }

  nav ul li ul.dropdown-menu{
    background-color: #ccc;
  }

  nav ul li ul li a {
    border: none;
  }
}


@media (min-width: 992px) {
  .fixed-top.menu {
    background-color: #fff;
    width: 100%;
  }

  nav {
    background-color: #fff;
    height: 80px;
  }

  nav #MenuNavegacion {
    text-align: right;
  }

  nav ul li{
    text-align: center;
  }

  nav ul li a{
    width: 150px;
    padding-left: 40px;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
  .dropdown .dropdown-menu {
    display: none;
  }
  .dropdown:hover .dropdown-toggle::after {
    border-bottom: 0.3em solid;
    border-top: 0;
  }
}
