div.inicio h2 {
    padding-bottom: 30px;
}

div.inicio p, div.inicio li {
    line-height: 1.5rem;
}

div.inicio p {
    padding-bottom: 10px;
}

div.inicio p.registrados {
    padding-top: 15px;
}

div.inicio ul.registrados {
    padding-bottom: 15px;
}

div.inicio ul {
    list-style-type: none;
}

div.inicio li {
    position: relative;
    padding-left: 30px;
}

div.inicio li::before {
    content: "";
    position: absolute;  
    top: 8px;  
    margin: 3px 0 0 -12px;    
    vertical-align: middle;
    display: inline-block;
    width: 4px;
    height: 4px;
    background: #ccc;    
}