header img.fotoPerfilUsuario {
  /* TODO Añadir alguna animación o efecto */
  height: 250px;
  width: auto;
  border-radius: 100%;
}

.perfil h2 {
  padding-bottom: 30px;
}

form[name="formPerfil"] input {
  display: block;
    padding: 10px;
    width: 100%;
    margin-bottom: 30px;
}

form[name="formPerfil"] input[type="submit"] {
  width: 49%;
  display: inline-block;
  margin-top: 20px;
  color: white;
}

form[name="formPerfil"] input::placeholder {
  color: #000;
}

form[name="formPerfil"] input[type="submit"]:hover {
  color: var(--color1);
}

form[name="formPerfil"] label {
  display: block;
  padding-bottom: 15px;
  font-weight: 600;
}

.mensajes {  
  width: 100%;
  max-height: 340px;
  overflow: scroll;
  overflow-x: hidden;
  padding-right: 20px;
}

.mensajeUsuario {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.mensajeUsuario .tituloCurso {
  display: block;
  padding-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}

.mensajeUsuario .tituloCurso img {
  width: 20px;
  margin-right: 10px;
  position: relative;
  top: -2px;
}
