.checkboxPoliticas input[type="checkbox"] {
  position: relative;
  top: -2px;
  display: inline-block;
  width: 5%;
}

.checkboxPoliticas input[type="checkbox"] {
  position: relative;
  top: -2px;
  display: inline-block;
  width: 5%;
}

form input[type="submit"]:disabled {
  background-color: #ccc;
  border: 1px solid #ccc;
}

form input[type="submit"]:disabled:hover {
  color: #fff;
}

.checkboxPoliticas label,
.checkboxPoliticas label a {
  font-size: 1rem;
}

.checkboxPoliticas label {
  display: inline;
  width: 90%;
  padding-left: 5px;
}
