header img.fotoPerfilUsuario {
  /* TODO Añadir alguna animación o efecto */
  height: 250px;
  width: auto;
  border-radius: 100%;
}

.registro {
  width: 60%;
  margin: 0 auto;
}

.registro h2 {
  padding-bottom: 30px;
}

form[name="formRegistro"] input[type="text"] {
  display: block;
  padding: 10px;
  width: 100%;
  margin-bottom: 30px;
}

form[name="formRegistro"] input[type="submit"] {
  width: 100%;
  display: inline-block;
  margin-top: 20px;
  color: white;
}

form[name="formRegistro"] input::placeholder {
  color: #000;
}

form[name="formRegistro"] input[type="submit"]:hover {
  color: var(--color1);
}

form[name="formRegistro"] label {
  display: block;
  padding-bottom: 15px;
  font-weight: 600;
}

/*******************************************************************************/

form[name="formRegistro"] input[type="file"] {
  width: 100%;
}

form[name="formRegistro"] .fileInput::-webkit-file-upload-button {
  visibility: hidden;
}

form[name="formRegistro"] .fileInput::before {
  content: "Seleccionar archivos";
  width: 200px;
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 8px 15px;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
}

form[name="formRegistro"] .fileInput:hover::before {
  border-color: black;
}

form[name="formRegistro"] .fileInput:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

/*******************************************************************************/

form[name="formRegistro"] .form-check {
  margin-top: 30px;
}

form[name="formRegistro"] input[type="checkbox"] {
  position: relative;
  top: -3px;
}

.formulario-rgpd {
  font-size: 0.9rem;
}

.formulario-rgpd .negrita {
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: underline;
}
