@import url("academia.css");
@import url("botones.css");
@import url("contacto.css");
@import url("cursos.css");
@import url("datosActualizados.css");
@import url("footer.css");
@import url("fonts.css");
@import url("iniciarSesion.css");
@import url("inicio.css");
@import url("legales.css");
@import url("menu.css");
@import url("panelAdministracion.css");
@import url("perfil.css");
@import url("recuperarPassword.css");
@import url("registro.css");




:root {
  --color1: #fe4a55;
  --color2: #f6f1ed;
  --color3: #f9f9f9;
  --color4: #fff;
  --color5: #0f0f0f;
  --font-1: "montserrat-medium";
  --font-2: "montserrat-black";
  --font-3: "montserrat-light";
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--font-1);
  font-size: 14px;
  line-height: 1;
  list-style: none;
}

html {
  background-color: #fff;
}

body {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  position: relative;
  min-height: 50vh;
}

ol,
ul {
  margin: 0;
}

header {
  margin-top: 50px;
  /* padding-top: 30px; */
  background-color: var(--color3);
  height: calc(100% - 150px);
}

header img.img-fluid {
  max-width: 90%;
}


@media (max-width: 991px) {
  header {
    margin-top: 80px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header {
    padding-bottom:20px;
  }
}

ion-icon {
  font-size: 1.3rem;
  position: relative;
  top: 4px;
}

section {
  margin: 50px 0;
}

.left {
  display: flex;
  justify-content: flex-start;
}

.center {
  display: flex;
  justify-content: center;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.top {
  display: flex;
  align-items: flex-start;
}

.middle {
  display: flex;
  align-items: center;
}

.bottom {
  display: flex;
  align-items: flex-end;
}

.titulo-superior {
  color: var(--color1);
  font-size: 1rem;
  font-style: italic;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.container.interior {
  min-height: 40vh;
}


.error404 {
  min-height: 50vh;
}

.img-shadow {
  /* box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

/************************************/

.comming-soon {
  padding-top: 25vh;
  min-height: 75vh;
  text-align: center;
}

.comming-soon * {
  color: var(--color5);
}

.pruebaSesion {
  /* TODO Eliminar esta regla para la entrega */
  min-height: 100px;
  margin-top: 100px;
  padding-left: 100px;
  font-size: 1.2rem;
  border-top:1px solid #000;
  border-bottom:1px solid #000;
}

